<?com.ctg.udal.xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n"/>
            <!-- <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/> -->
        </Console>
    </Appenders>

    <Loggers>
        <root level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
        </root>
        <!-- 避免这种报错 严重: input future failed 出现在用户交互界面-->
        <!--<Logger name="com.google.common" level="ERROR" additivity="false"
                includeLocation="true">
            <AppenderRef ref="OFile"/>
        </Logger>-->
    </Loggers>
</Configuration>
